.invalid {
	-fx-background-color: -fx-outer-border, #FF5555, #FFFAFA;
}

.theForm {
	-fx-padding: 10.0;
	-fx-hgap: 6.0;
	-fx-vgap: 10.0;
}

.addButton {
	-fx-background-image: url('add.png');
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-pref-width: 35;
}

.moveUpButton {
	-fx-background-image: url('arrow_up.png');
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-pref-width: 35;
}

.moveDownButton {
	-fx-background-image: url('arrow_down.png');
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-pref-width: 35;
}

.deleteButton {
	-fx-background-image: url('delete.png');
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-pref-width: 35;
}

.editLinkButton {
	-fx-background-image: url('link_edit.png');
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-pref-width: 35;
}

.deleteLinkButton {
	-fx-background-image: url('link_delete.png');
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-pref-width: 35;
}

.formControl {
	/* -fx-min-height: 20; */
	/* -fx-pref-height: 50; works */
	/* -fx-padding: 10; */
}

.multiTextControl .list-view {
	-fx-pref-height: 50.0;
}

.multiReferenceControl .list-view {
	-fx-pref-height: 80.0;
}

.multiAttributeControl .list-view {
	-fx-pref-height: 80.0;
}

.hyper-link {
	-fx-background-radius: 3 0 0 3, 2 0 0 2;
	-fx-max-width: 1000;
}

.text-field.left-pill, .choice-box.left-pill {
	-fx-background-radius: 3 0 0 3, 2 0 0 2;
	-fx-max-width: 1000;
}

.controlLabel {
	/*-fx-pref-width: 150.0;*/
	-fx-alignment: top-left;
	-fx-min-height: 20.0;
	/*-fx-background-color: red;*/
	-fx-padding: 3;
	
	-fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.validationLabel {
	-fx-padding: 16 10 10 10;
	/* -fx-background-insets: 0 0 -1 0, 0, 1, 2; */
	/* -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color; */
	/* -fx-background-image: url("arrow.png"); */
	/* -fx-background-position: 50 -15; */
	/* -fx-background-repeat: no-repeat; */
	-fx-min-width: 100;
	-fx-background-insets: 8 0 0 0;
	-fx-background-color: linear-gradient(#f04349 0%, #c81e2b 100%);
	-fx-background-radius: 5;
	-fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.text-field-add-button, .reference-add-button, .unset-reference-button {
    -fx-pref-width: 28;
}

.text-field-add-button .mark, .reference-add-button .mark,
.add-enum-button .mark, .set-reference-button .mark {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 -1 0, 0;
    /* -fx-padding: 0.25em; */
    /* -fx-shape: "M 0 0 h 7 l -3.5 4 z"; */
    -fx-shape: "M -4 1 v -1 h 4 v -4 h 2 v 4 h 4 v 2 h -4 v 4 h -2 v -4 h -4 z";
    -fx-pref-height: 10;
    -fx-pref-width: 10;
}

.set-reference-button .mark {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-shape: "M -4 1 v -1 h 4 v -4 h 2 v 4 h 4 v 2 h -4 v 4 h -2 v -4 h -4 z";
    -fx-pref-height: 10;
    -fx-pref-width: 10;
}

.up-button, .down-button, .remove-button {
	-fx-pref-width: 28;
}

.up-button .mark {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-shape: "M 0 0 v -6 h -2 l 3 -3, 3 3 h -2 v 6 z";
    -fx-pref-height: 9;
    -fx-pref-width: 6;
}

.down-button .mark {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-shape: "M -1 3 V -3 H 1 V 3 H 3 L 0 6, -3 3 z";
    -fx-pref-height: 9;
    -fx-pref-width: 6;
}

.remove-button .mark {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-shape: "M -4 1 v -1 h 4 v 1 z";
    /* -fx-shape: "M -1 0 L -3 -2, -2 -3, 0 -1, 2 -3, 3 -2, 1 0, 3 2, 2 3, 0 1, -2 3, -3 2 z"; */
    -fx-pref-height: 2;
    -fx-pref-width: 8;
}

.unset-reference-button .mark {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-shape: "M -1 0 L -3 -2, -2 -3, 0 -1, 2 -3, 3 -2, 1 0, 3 2, 2 3, 0 1, -2 3, -3 2 z";
    -fx-pref-height: 8;
    -fx-pref-width: 8;
}

.enum-choice-box {
	-fx-pref-width: 150;
}

.error {

	/*-fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background); */
        
    -fx-background-color: red,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);    
}

.tooltip {
    -fx-background: rgba(255,30,30);
    -fx-text-fill: white;
    -fx-background-color: rgba(255,30,30,0.8);
    -fx-background-radius: 6px;
    -fx-background-insets: 0;
    -fx-padding: 0.833333em; /* 10px */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 0 );
    -fx-font-size: 1em;
}

.bubble {
    -fx-background-color: red, green;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-shape: "M -1 3 V -3 H 1 V 3 H 3 L 0 6, -3 3 z";
    -fx-pref-height: 20;
    -fx-pref-width: 20;
}

.reference-drop-label  {
    
    /*
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color; 
    -fx-background-insets: 0, 1, 2;
    */
    
    -fx-text-fill: derive(-fx-text-base-color, +50%);
    
    -fx-border-color: -fx-outer-border;
    -fx-border-radius: 5;
    -fx-border-insets: 0;
    -fx-border-style: segments(5, 4);
    
    -fx-background-color: -fx-background;
    -fx-background-insets: 1;
    -fx-background-radius: 4;
    
    -fx-padding: 0.333333em 0.666667em 0.416667em 0.666667em;
    
    /*
    -fx-background-radius: 5, 4, 3;
    -fx-padding: 0.333333em 0.666667em 0.416667em 0.666667em;
    -fx-text-fill: -fx-text-base-color;

    -fx-background-color: 
         linear-gradient(to bottom, derive(-fx-outer-border, -20%), -fx-outer-border),
         linear-gradient(to bottom, 
                    derive(-fx-text-box-border, -10%) 0%, 
                    derive(-fx-text-box-border, -2%) 20%,
                    derive(-fx-text-box-border, 5%) 50%);
    -fx-background-insets: 0, 1;
    */
}

.reference-drop-label .mark {
    -fx-background-color: -fx-mark-highlight-color, derive(-fx-mark-color, 60%);
    -fx-background-insets: 0 0 -1 0, 0;
    /*-fx-shape: "M -1 3 V -3 H 1 V 3 H 3 L 0 6, -3 3 z";*/
    -fx-shape: "M 0 0 l -4 -4 h 2 v -4 h 4 v 4 h 2 z";
    -fx-pref-height: 12;
    -fx-pref-width: 12;
}