<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="controls" name="JavaFX ECP Controls" schema="schema/controls.exsd"/>
    
   <extension
         point="org.eclipse.fx.ecp.ui.controls">
         
      <!--
      <factory
            class="org.eclipse.fx.ecp.ui.controls.DummyControl$Factory"
            controlClass="javafx.scene.Node"
            id="org.eclipse.fx.ecp.ui.controls.dummy"
            showLabel="true">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Object">
         </staticTest>
      </factory>
      -->
      
      <factory
            class="org.eclipse.fx.ecp.ui.controls.CheckBoxControl$Factory"
            multi="false"
            id="org.eclipse.fx.ecp.ui.controls.checkBox"
            showLabel="true">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Boolean">
         </staticTest>
      </factory>
      
      <factory
            class="org.eclipse.fx.ecp.ui.controls.TextFieldControl$Factory"
            multi="false"
            id="org.eclipse.fx.ecp.ui.controls.textField"
            showLabel="true">
            
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.math.BigDecimal">
         </staticTest>
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.math.BigInteger">
         </staticTest>
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Character">
         </staticTest>   
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.util.Date">
         </staticTest>
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Double">
         </staticTest>
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Float">
         </staticTest>
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Integer">
         </staticTest>
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Long">
         </staticTest>
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Short">
         </staticTest>
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.String">
         </staticTest>
            
      </factory>
      <factory
            class="org.eclipse.fx.ecp.ui.controls.EnumControl$Factory"
            multi="false"
            id="org.eclipse.fx.ecp.ui.controls.enumCombo"
            showLabel="true">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Enum">
         </staticTest>
      </factory>
      <factory
            class="org.eclipse.fx.ecp.ui.controls.MultiControl$Factory"
            multi="true"
            id="org.eclipse.fx.ecp.ui.controls.multiText"
            showLabel="true">
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="java.lang.Object">
         </staticTest>
      </factory>
      
   </extension>

</plugin>
