<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="controls" name="JavaFX ECP Controls" schema="schema/controls.exsd"/>
    
   <extension
         point="org.eclipse.fx.ecp.ui.controls">
         
      <factory
            class="org.eclipse.fx.ecp.ui.controls.CheckBoxControl$Factory"
            id="org.eclipse.fx.ecp.ui.controls.checkBox"
            showLabel="true">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Boolean">
         </staticTest>
      </factory>
      <factory
            class="org.eclipse.fx.ecp.ui.controls.TextFieldControl$Factory"
            id="org.eclipse.fx.ecp.ui.controls.textField"
            showLabel="true">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.String">
         </staticTest>
      </factory>
      <factory
            class="org.eclipse.fx.ecp.ui.controls.CharacterField$Factory"
            id="org.eclipse.fx.ecp.ui.controls.characterField"
            showLabel="true">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Character">
         </staticTest>
      </factory>
      <factory
            class="org.eclipse.fx.ecp.ui.controls.EnumChoiceBox$Factory"
            id="org.eclipse.fx.ecp.ui.controls.enumCombo"
            showLabel="true">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Enum">
         </staticTest>
      </factory>
      <factory
            class="org.eclipse.fx.ecp.ui.controls.multi.MultiControl$Factory"
            id="org.eclipse.fx.ecp.ui.controls.multiText"
            showLabel="true">
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="java.math.BigDecimal">
         </staticTest>
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="java.math.BigInteger">
         </staticTest>
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="java.lang.Boolean">
         </staticTest>
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="java.lang.Character">
         </staticTest>   
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="java.util.Date">
         </staticTest>
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="java.lang.Double">
         </staticTest>
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="java.lang.Enum">
         </staticTest>
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="java.lang.Float">
         </staticTest>
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="java.lang.Integer">
         </staticTest>
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Long">
         </staticTest>
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="java.lang.Short">
         </staticTest>
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="java.lang.String">
         </staticTest>
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="org.eclipse.emf.ecore.EObject">
         </staticTest>
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="java.lang.Integer">
         </staticTest>
      </factory>
      <factory
            class="org.eclipse.fx.ecp.ui.controls.ReferenceControl$Factory"
            id="org.eclipse.fx.ecp.ui.controls.reference"
            showLabel="true">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="org.eclipse.emf.ecore.EObject">
         </staticTest>
      </factory>
      <factory
            class="org.eclipse.fx.ecp.ui.controls.numeric.IntegerSpinner$Factory"
            id="org.eclipse.fx.ecp.ui.controls.integerSpinner"
            showLabel="true">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Integer">
         </staticTest>
      </factory>
      <factory
            class="org.eclipse.fx.ecp.ui.controls.numeric.LongSpinner$Factory"
            id="org.eclipse.fx.ecp.ui.controls.longSpinner"
            showLabel="true">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Long">
         </staticTest>
      </factory>
      <factory
            class="org.eclipse.fx.ecp.ui.controls.numeric.ShortSpinner$Factory"
            id="org.eclipse.fx.ecp.ui.controls.shortSpinner"
            showLabel="true">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Short">
         </staticTest>
      </factory>
      <factory
            class="org.eclipse.fx.ecp.ui.controls.numeric.DoubleSpinner$Factory"
            id="org.eclipse.fx.ecp.ui.controls.doubleSpinner"
            showLabel="true">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Double">
         </staticTest>
      </factory>
      <factory
            class="org.eclipse.fx.ecp.ui.controls.numeric.FloatSpinner$Factory"
            id="org.eclipse.fx.ecp.ui.controls.floatSpinner"
            showLabel="true">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.Float">
         </staticTest>
      </factory>
      <factory
            class="org.eclipse.fx.ecp.ui.controls.numeric.BigDecimalSpinner$Factory"
            id="org.eclipse.fx.ecp.ui.controls.bigDecimalSpinner"
            showLabel="true">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.math.BigDecimal">
         </staticTest>
      </factory>
      <factory
            class="org.eclipse.fx.ecp.ui.controls.numeric.BigIntegerSpinner$Factory"
            id="org.eclipse.fx.ecp.ui.controls.bigIntegerSpinner"
            showLabel="true">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.math.BigInteger">
         </staticTest>
      </factory>
      <factory
            class="org.eclipse.fx.ecp.ui.controls.DateControl$Factory"
            id="org.eclipse.fx.ecp.ui.controls.datePicker"
            showLabel="true">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.util.Date">
         </staticTest>
      </factory>
      
   </extension>

</plugin>
