.breadcrumb-bar {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color; 
    -fx-background-insets: 0, 1, 2;
}

.breadcrumb-item {
	/*-fx-base: -fx-default-button;*/
    -fx-text-fill: -fx-text-base-color;
}

.breadcrumb-item .outer-border {
    -fx-fill: -fx-outer-border; 
}

.breadcrumb-item .inner-border {
    -fx-fill: -fx-inner-border; 
}

.breadcrumb-item .body {
    -fx-fill: -fx-body-color; 
}

.breadcrumb-item .button {
    -fx-background-color: -fx-outer-border;
	/*
    -fx-background-insets: 0, 1, 2;
    * 
    */
    -fx-shape: "m0 0 h 14 v 28 h -14 l 10 -14 z";
    -fx-padding: 10; 
}

.breadcrumb-item .bg {
    -fx-background-color: red, green, blue; 
    -fx-background-insets: 0, 1, 2;
    -fx-shape: "m0 0 h 14 v 28 h -14 l 10 -14 z";
    -fx-pref-height: 28;
    -fx-pref-width: 14; 
}

.breadcrumb-item .left-cap .outer-border {
    -fx-background-color: -fx-outer-border; 
    /*
    -fx-shape: "m0 0 h 14 v 28 h -14 l 10 -14 z";
    -fx-pref-height: 28;
    -fx-pref-width: 14; 
    */
}

.breadcrumb-item .left-cap .inner-border {
    -fx-background-color: -fx-inner-border;
    /*
    -fx-shape: "m0 0 h 14 v 28 h -14 l 10 -14 z";
    -fx-pref-height: 28;
    -fx-pref-width: 14;
    */ 
}

.breadcrumb-item .left-cap .body {
    -fx-background-color: -fx-body-color;
    /*
    -fx-shape: "m0 0 h 13 v 26 h -13 l 10 -13 z";
    -fx-pref-height: 28;
    -fx-pref-width: 14;
    */ 
}

.breadcrumb-item .ob {
    -fx-background-color: -fx-outer-border; 
}